@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/*===================================
INDEX OF
=======
1)BASIC
2) HEADER
3) HERO
====================================*/

/*===================================
1) COMMON
====================================*/
p{
    margin: 0;
}
.mybtn{
    background-color: #2500f9;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    /* border-radius: 25px; */
    padding: 15px 30px;
    
}

.mybtn:hover{
    background-color:  #fcae61;
    color: #fff;

}
:root{
    --main-color:#242f51;
}

/*===================================
2) HEADER
====================================*/
header{
    height: 135px;
    display: flex;
    align-items: center;
}

header .navbar-brand{
    font-size: 30px;
    font-weight: 800;
    color: #fcae61;
}

header .navbar-brand span{
    color: var(--main-color);

}

header .nav-link{
    color: var(--main-color);
    margin: 0px 13px;  
}

header .nav-link:hover, header .nav-link.active{
    color: #fcae61 !important;

}

/*===================================
3) HERO
====================================*/
#hero{
    background: url("./image/hero-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

#hero .htop{
    background-color: #e2eaed;
}

#hero .htop i{
    background-color: #fcae61;
    padding: 12px;
    text-align: center;
    color: #fff;
    margin-right: 12px;

}

#hero .htop p{
    color: var(--main-color);
}

#hero h2{
    font-size: 60px;
    font-size: 600;
    color: var(--main-color);
    margin: 30px 0px;
}

#hero p{
    color: #616368;
    font-size: 18px;
}

#hero .hbbox{
    margin: 30px 0px;
}

#hero .screenimg{
    width: 60%;
}

#hero .mvin{
    position: absolute;
    font-size: 20px;
}




#hero .in1{
    left: 550px;
    bottom: 10px;
    color: #6883de;
}

#hero .in2{
    left: 350px;
    top: 5px;
    color: #d6cffe;
    transform: rotate(40deg);
}
#hero .in3{
    left: 650px;
    bottom: 100px;
    color: #d6cffe;
}
#hero .in4{
    left: 80px;
    top: 0px;
    color: #d6cffe;  
}
#hero .in5{
    left: 850px;
    top: -10px;
    color: #fa876c;
}
#hero .in6{
    left: 200px;
    bottom: 20px;
    color: #fa876c;
}
#hero .in7{
   right: 60px;
    bottom: 18px;
    color: #fa876c;
}

